@using Arenda.Models.ViewModel
@model ContractPenaltyViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список штрафов</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-route-id="@Model.Contract.Id" asp-action="AddPenalty" class="btn btn-primary">Добавить штраф</a>
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
        </div>
    </div>

    <br /><br />

    @if (Model.Penalties.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Номер договора</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Penalties)
                {
                    <tr>
                        <td width="15%">@obj.Contract.RegistrationNumber</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="EditPenalty" class="btn btn-info mx-2">Редактировать</a>
                                <a asp-route-Id="@obj.Id" asp-action="DeletePenalty" class="btn btn-danger mx-2">Удалить</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Штрафов не добавлено</p>
    }
    @if (Model.Payments.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Номер договора</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Penalties)
                {
                    <tr>
                        <td width="15%">@obj.Contract.RegistrationNumber</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="EditPenalty" class="btn btn-info mx-2">Редактировать</a>
                                <a asp-route-Id="@obj.Id" asp-action="DeletePenalty" class="btn btn-danger mx-2">Удалить</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Оплат нет</p>
    }
</div>