@using Arenda.Models.ViewModel;
@model ArendatorViewModel

@*<div id="modDialog" class="modal fade">*@
    <div id="dialogContent" class="modal-dialog"></div>
@*</div>*@

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="text-align:center;">Список арендаторов</h2>
        </div>
        <div class="col-6 text-right">
            <button id="openModalButton" class="btn btn-primary">Добавить арендатора</button>
        </div>
    </div>
    <br /><br />
    <h3 class="text-primary">Список физических лиц</h3>
    @if(Model.PhysicalPersons.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.PhysicalPersons)
                {
                    <tr>
                        <td width="15%">@obj.SecondName</td>
                        <td width="15%">@obj.FirstName</td>
                        <td width="15%">@obj.LastName</td>
                        <td width="15%">@obj.PhoneNumber</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="ViewPremises" class="btn btn-primary mx-2">Доп информация</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Физических лиц не найдено</p>
    }
    <br /><br />
    <h3 class="text-primary">Список юридических лиц</h3>
    @if (Model.LegalEntities.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.LegalEntities)
                {
                    <tr>
                        <td width="15%">@obj.SecondName</td>
                        <td width="15%">@obj.FirstName</td>
                        <td width="15%">@obj.LastName</td>
                        <td width="15%">@obj.PhoneNumber</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="ViewPremises" class="btn btn-primary mx-2">Доп информация</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Юридических лиц не найдено</p>
    }
</div>
@section scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#openModalButton").click(function () {
            $.ajax({
                url: '/Arendator/OpenModal',
                success: function (result) {
                    $("#dialogContent").html(result);
                    $("#myModal").modal('show');
                }
            });
        });
    </script>
}